@model facebook_asp_.Models.userinfo
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />


<div>
    <img src="@Model.photo" height="170px"/>
    <h2>@Model.Fname @Model.lname</h2>
    <h5>@Model.phone</h5>
</div>