@model IList<facebook_asp_.Models.friendRequstes>

@{
    ViewBag.Title = "MyRequests";
}
<style>
    .user {
        border-style: solid;
        border-color: rgb(45, 52, 129);
        margin: 20px;
        padding: 10px;
    }
</style>


<div class="row">
    @{foreach (var item in Model)
        {
            <div class="col-sm-4 col-xs-12 user">
                <img src="@item.userFriend.photo" height="100px" />
                <h4>@item.userFriend.Fname @item.userFriend.lname</h4>
                <h5><a href="/Friend/CancelRequest/@item.userFriend.Id">CancelRequest</a></h5>
            </div>
        }
    }
</div>

