@model IList<facebook_asp_.Models.userinfo>

@{
    ViewBag.Title = "Index";
}
<style>
    .user {
        border-style: solid;
        border-color: rgb(45, 52, 129);
        margin: 20px;
        padding:10px;
    }
</style>


<div class="row">
    @{foreach(var item in Model)
      {
      <div class="col-sm-4 col-xs-12 user" >
            <img src="@item.photo" height="100px" />
            <h4>@item.Fname @item.lname</h4>
            <a href="/userinfoes/Details/@item.Id" >go to details</a>     
        </div>
      }
    }
</div>